<%= form_with(model: championship, local: true) do |form| %>
  <% if championship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(championship.errors.count, "error") %> prohibited this championship from being saved:</h2>

      <ul>
      <% championship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-8">
      <%= form.text_field :name, class:"form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :modality, class:"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%= form.select(:modality, Championship.modalities.keys, class:"custom-select") %>
    </div>
  </div>

<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
