<p id="notice"><%= notice %></p>

<h1>Championships</h1>

<%= link_to 'New Championship', new_championship_path, class: "btn btn-primary", style: "float: right;" %>

<br><br>
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Pontos Corridos
      </div>
      <ul class="list-group list-group-flush">
        <% @championships.each do |championship| %>
          <% if championship.modality ==("rolling_points") %>
            <%= link_to  championship do %>
              <li class="list-group-item">
                <%= championship.name %>
              </li>
            <% end %>
          <% end%>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Mata Mata
      </div>
      <ul class="list-group list-group-flush">
        <% @championships.each do |championship| %>
          <% if championship.modality ==("phases") %>
            <%= link_to  championship do %>
              <li class="list-group-item">
                <%= championship.name %>
              </li>
            <% end %>
          <% end%>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
