<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>
<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_player_path(@player) %> |
<% end %>
<%= link_to 'Back', players_path %>
