<p id="notice"><%= notice %></p>

<%= link_to ' <  Back', matches_path, class: "btn btn-primary" %>

<h1><%= @match.home.name %> <%= @match.score1 %>  X  <%= @match.score2 %> <%= @match.visitor.name %></h1>
<h4><%= Championship.all[@match.championship_id].name  %></h4>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_match_path(@match) %> |
<% end %>
<%= link_to 'Back', matches_path %>
<br>
