<!DOCTYPE html>
<html>
<head>
  <title>Soccerleague</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= fa_icon "home" %>
          <%= t "app.name" %>
        <% end%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to teams_path, class:"nav-link" do %>
                Times
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to players_path, class:"nav-link" do %>
                Jogadores
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to championships_path, class:"nav-link" do %>
                Campeonatos
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to matches_path, class:"nav-link" do %>
                Jogos
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastrar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to new_player_path, class: "dropdown-item" do %>
                  Jogador
                <% end%>
                <%= link_to new_team_path, class: "dropdown-item" do %>
                  Time
                <% end%>
                <%= link_to new_championship_path, class: "dropdown-item" do %>
                  Campeonato
                <% end%>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto pull-right">
            <% unless admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "Login", new_admin_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Cadastrar", new_admin_registration_path, class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to current_admin.email, "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_admin_session_path, class: "nav-link", method: :delete %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

<br><br><br>

<div class="container">


<%= yield %>

</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <p class="m-0 text-center text-white">Copyright &copy; SoccerLeague <%= Date.today.year %></p>
</footer>

</body>
</html>
